$navbar-default-bg: #7FFF6A;
$navbar-default-brand-color: #4A30FF;
$btn-default-bg: #FFBC17;
$table-bg: #FF3158;
$font-size-h1: 50px;
//noinspection CssUnknownTarget
@import "bootstrap";
//noinspection CssUnknownTarget
@import "font-awesome";